.container_registration{
width: 600px;
padding: 20px;
margin: auto;
box-shadow: 1px 1px 7px 1px rgba(84, 84, 84, 0.1);
border-radius: 20px;
}

.container_registration h2{
text-align: center;
color: #353535;
}

label{
text-align: center;
color: #353535;
}

.form-actions{
  text-align: center;
}

.form-check {
  text-align: right;
}
