.navbar-lewagon {
  justify-content: space-between;
  background: rgb(50, 50, 50);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  text-align: center;
  border: #00AFB9 1px solid;
  border-radius: 10px;
}


.nav-link:hover {
  text-align: center;
  background-color: #00AFB9;
  border-radius: 10px;
}

.navbar-light .navbar-nav .active > .nav-link,{
  text-decoration: none;
  color:  #00AFB9;
}

.navbar-light .navbar-nav .active > .nav-link:hover,{
  text-decoration: none;
  color: white;
}


li{
  padding-left: 20px;
}
h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.navbar {
  background-color: #353535;
}

.navbar h1{
  color: rgb(50, 50, 50);
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(50, 50, 50)
}

.login {
  text-decoration: none;
  list-style-type: none;
}
