// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";




footer {
  background-color: grey;
  color: white;
}

.text-muted {
    color: white !important;
}

.bg-light {
 background-color: rgb(50, 50, 50)!important;
}

.row {
    display: flex;
    flex-wrap: wrap;
 margin: auto;
    justify-content: space-between
}

.container_registration{
  width: 600px;
  padding: 20px;

  margin: auto;
  box-shadow: 1px 1px 7px 1px rgba(84, 84, 84, 0.1);
  border-radius: 20px;
}
.container_registration h2{
text-align: center;
}

div{
  padding: 20px;
}
