// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";





.text-muted {
    color: grey !important;
}

.bg-light {
 background-color: rgb(50, 50, 50)!important;
}

.row {
    display: flex;
    flex-wrap: wrap;
 margin: auto;
    justify-content: space-between
}

.container_registration{
  width: 600px;
  padding: 20px;

  margin: auto;
  box-shadow: 1px 1px 7px 1px rgba(84, 84, 84, 0.1);
  border-radius: 20px;
}
.container_registration h2{
text-align: center;
color: grey;
}
label{
text-align: center;
color: grey;
}

div{
  padding: 10px;
}

.btn{
  width: 200px;
  border: rgb(17, 111, 103) 1px solid;
  border-radius: 5px;
}

.form-actions{
  text-align: center;
}

.form-check {
  text-align: right;
}


.text-center{
  background-color: grey;
}

*{
margin:0;
padding:0;
}


footer{
position:absolute;
bottom:0;
width:100%;
padding-top:50px;
height:50px;
}

.padding_top{
  padding-top: 100px;
}
