// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';



// Your CSS partials
@import "components/index";
@import "components/footer";
@import "pages/index";
@import "pages/show";

@import "users/plushes";
@import "users/user_profil";

@import "flatpickr/dist/themes/airbnb";

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;500;800&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trirong:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
  background-color: #F8F6EE;
  font-family: Heebo;
}

h1 {
  font-family: 'Istok Web', sans-serif;
}

h2 {
  font-family: 'Trirong', serif;
}
 h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Varela Round', sans-serif;
}
