.img-rentals {
  width: 50px
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.container h5{
  text-align: left;
  font-size: 30px;
  padding:20px;
  text-align: center;
}

.card-title {
    background-color: #00AFB9;
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    margin: 0;
}

.barre{
  background-color: #353535;
  color: white;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding: auto
}
